SUPABASE_URL = "https://qsarfqkjulypynvartdg.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzYXJmcWtqdWx5cHludmFydGRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUxODY4NTQsImV4cCI6MjA2MDc2Mjg1NH0.vztnqt3L94DksRw-rMZGJTFnlOJDs_RpwpBpjnPUrgI"